.hero {
  background-image: url("../../assets/images/bg-hero.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 600px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wisher img {
  border-radius: 50%;
  width: 200px;
}
